**/node_modules
**/.next
.open-next
.git
**/.env
**/.env.local
**/.env.*.local
apps/web/data
data
**/.wrangler
apps/web/wrangler.capveon.jsonc
**/*.log
**/.DS_Store
**/.turbo
**/coverage
**/*.tsbuildinfo
.idea
.vercel
